[submodule "third-party/cutlass"]
	path = third-party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "third-party/ThunderKittens"]
	path = third-party/ThunderKittens
	url = https://github.com/HazyResearch/ThunderKittens
